@page
@model NaviStar_Tables.Pages.UserRoles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].UserN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole[0].UserL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserL)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.USRID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.USRID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.USRID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
